.navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .bg-custom {
    background-color: #333333;
  }
  
  .btn-group .btn {
    margin-right: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-text {
    font-size: 1.2rem;
  }
  
  .btn-group {
    display: flex;
    align-items: center;
  }
  